- is_admin = local_assigns.fetch(:admin, false)
- hide_class = local_assigns.fetch(:hide_class, false)

- if @gpg_keys.any?
  .table-holder
    %table.table.b-table.gl-table.b-table-stacked-md.gl-mt-n1.gl-mb-n2.ssh-keys-list
      %thead.d-none.d-md-table-header-group
        %tr
          %th= s_('Profiles|Key')
          %th= _('Status')
          %th= _('Created')
          %th= _('Actions')
      = render partial: 'user_settings/gpg_keys/key', collection: @gpg_keys, locals: { is_admin: is_admin }

- else
  %p.gl-new-card-empty.gl-px-5.gl-py-4.js-toggle-content{ class: hide_class }
    - if is_admin
      = _('There are no GPG keys associated with this account.')
    - else
      = _('There are no GPG keys with access to your account.')
